name: PR Labeler
on:
- pull_request

jobs:
  label:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/labeler@v2
      name: Auto Label
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
