name: OnPush

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Code checkout
      uses: actions/checkout@v2
    - name: Cache .cargo
      uses: actions/cache@v1
      with:
        path: ~/.cargo
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - name: Cache cargo build
      uses: actions/cache@v1
      with:
        key: ${{ runner.os }}-target-${{ hashFiles('**/Cargo.lock') }}  
        path: target
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Cleanup cache
      run: |
        find target -ignore_readdir_race -depth -wholename '**/incremental/*' -delete
        find target -ignore_readdir_race -depth -wholename '**/examples/*' -delete
      continue-on-error: true
