name: Quick tests

on:
  push:
    branches-ignore: 
      - develop
      - master

jobs:
  build:

    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'no ci') || !contains(github.event.head_commit.message, 'skip ci')"

    steps:
    - name: Set git auth
      run: git config --global url."https://api:${{ secrets.GITHUB_TOKEN }}@github.com/".insteadOf "https://github.com/"
    - name: Code checkout
      uses: actions/checkout@v2
    - name: Cache .cargo
      uses: actions/cache@v1
      with:
        path: ~/.cargo
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - name: Cache target
      uses: actions/cache@v1
      with:
        key: ${{ runner.os }}-target-${{ hashFiles('**/Cargo.lock') }}  
        path: target
    - name: Build
      run: cargo build
    - name: Run tests
      run: cargo test
    - name: Cleanup cache
      run: |
        find target -ignore_readdir_race -depth -wholename '**/incremental/*' -delete
        find target -ignore_readdir_race -depth -wholename '**/examples/*' -delete
      continue-on-error: true
